body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.colorRegistrate{
  
  color: white !important;
}

.vr{
  padding:0 !important;
  margin-left: 25px;
}

a{
  text-decoration:none !important;
  }
  .myform{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 1.1rem;
  outline: 0;
  max-width: 700px;
  }
  .tx-tfm{
  text-transform:uppercase;
  }
  

  
  form .error {
  color: #ff0000;
  }
  
  .fontsizeForm{
      font-size:  14px !important;
  }
  .fontsizeCheck{
      font-size:  14px !important;
  }